.star {
    color: rgb(233, 144, 10);
}

.e-item-card-recently-viewed_stars {
    color: #555;
  }
  
  .m-item-card-recently-viewed_stars__orange {
    color: #f97d00;
  }
  
  .half {
    display: inline-flex;
  }
  
  .half > div:first-child {
    overflow: hidden;
    width: 9px;
    z-index: 1;
    color: #f97d00;
  }	
  .half > div:last-child {
    position: relative;
    margin-left:-9px;
  }
  
  .rate-wrapper {
    display: flex;
    gap: 5px;
    justify-content:center;
    align-items:center;
    margin: 0 auto;
    
}

.rating-box {
   width: 30%;
   margin: 0 3% 0 0;
   display: flex;
   flex-direction:column;
    justify-content:center;
    align-items:center

}

section.wp-block-rating-box-rating-plugin {
  display: flex;
}